
.bto{
    margin-left: 45%;
}
.card{
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.card:hover{
    transform: scale(1.1);
    transition: 1s;
  }
.cardcar{
    float: left;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.cardcar:hover{
    transform: scale(1.1);
    transition: 1s;
  }
#order{
    margin-left: 40%;
    margin-top: 20%;
}
.contact{
    margin-top: 5%;
    margin-left: 1000px;
}
#buy{
    margin-left: 10px;
}
#update{
    margin-left: 600px;
    margin-top:  80px;
}